<template>
    <!-- <div class="container"> -->
        <div class="nav">
        <div class="heading">
            <h1>Teachers</h1>
            <p>Count - 4</p>
        </div>
        <el-button type="primary" round>Add New Teacher</el-button>
        </div>
    <!-- </div> -->
</template>

<script>
export default {
    
}
</script>

<style scoped>
    /* .container {
        padding-top: 20px;
        width: 95%;
        margin: auto;
    } */

    .nav {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .heading {
        display: flex;
        min-width: 250px;
        align-items: center;
        justify-content: space-between;
    }
</style>