<template>
  <el-table
    :data="this.teachers"
    style="width: 100%; margin-top: 30px">
    <el-table-column
      label="Full Name"
      prop="name">
    </el-table-column>
    <el-table-column
      label="Status"
      prop="status">
    </el-table-column>
    <el-table-column
      label="Phone"
      prop="phone">
    </el-table-column>
    <el-table-column
      label="Email"
      prop="email">
    </el-table-column>
    <el-table-column
      label="Current Balance"
      prop="balance">
    </el-table-column>
    <el-table-column
      label="Groups"
      prop="groups.length">
    </el-table-column>
    <el-table-column
    label="Actions"
    >
      <i class="el-icon-more"></i>
    </el-table-column>
  </el-table>
</template>

<script>
import { mapGetters, mapActions } from 'vuex';

  export default {
    data() {
      return {
        
      }
    },

    methods: {
        ...mapActions(['fetchTeachers'])
    },
    computed: {
        ...mapGetters(['teachers'])
    },

    async created(){
        this.fetchTeachers();
    }
  }
</script>

<style scoped>

</style>