<template>
    <div class="container">
        <FilterPanel />
        <StudentList />
        <StudentExport />
        <Pagination />
    </div>
</template>

<script>
import FilterPanel from './components/FilterPanel.vue';
import StudentList from './components/StudentList.vue';
import StudentExport from './components/StudentExport.vue';
import Pagination from './components/Pagination.vue';
export default {
    name: "Students",
    components: { FilterPanel, StudentList, StudentExport, Pagination }
}
</script>

<style scoped>
    .container {
        width: 95%;
        margin: auto;
    }
</style>