<template>
  <div>
    <div class="container">
      <div class="headline">Group Name</div>
      <div class="card"></div>
      <div class="views">
        <div class="tabs">tabs</div>
        <div class="tab-view">views</div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: "Default",
};
</script>

<style scoped>
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.container {
  display: grid;
  grid-auto-columns: 6;
  grid-auto-rows: 6;
  grid-gap: 10px;
}

.headline {
  background: #666;
  grid-column: 1 / 7;
  height: 50px;
}

.card {
  background: steelblue;
  grid-column: 1 / 3;
  min-height: 600px;
}

.views {
  display: grid;
  background: coral;
  grid-column: 3 / 7;
}

.tabs {
  background: wheat;
  height: 50px;
}
</style>