<template>
  <el-row :gutter="20">
    <el-col :span="12"
      ><div class="grid-content bg-purple">
        <canvas
          ref="myChartRef"
          width="200"
          height="100"
          class="bar-chart"
        ></canvas></div
    ></el-col>
    <el-col :span="12"
      ><div class="grid-content bg-purple-light">
        <SalesFunnel /></div
    ></el-col>
  </el-row>
</template>

<style scoped>
.grid-content {
  border-radius: 4px;
  max-height: 400px;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

img {
  height: 300px;
}

.bar-chart {
  padding: 30px;
  max-height: 400px;
}
</style>

<script>
import Chart from "chart.js/auto";
import { mapGetters } from "vuex";
import SalesFunnel from "./SalesFunnel.vue";
export default {
  name: "Charts",
  data() {
    return {
      array1: [],
    };
  },
  computed: {
    ...mapGetters(["leads", "ig_channel", "fc_channel", "ws_channel"]),
  },
  mounted() {
    const ctx = this.$refs.myChartRef.getContext("2d");
    new Chart(ctx, {
      type: "doughnut",
      data: {
        labels: ["Instagram", "Facebook", "Website"],
        datasets: [
          {
            label: "Traffic Channels",
            data: this.array1,
            backgroundColor: [
              "rgba(255, 88, 132, 0.2)",
              "rgba(54, 162, 235, 0.2)",
              "rgba(255, 206, 86, 0.2)",
            ],
            borderColor: [
              "rgba(255, 99, 132, 2)",
              "rgba(54, 162, 235, 1)",
              "rgba(255, 206, 86, 1)",
            ],
            borderWidth: 1,
          },
        ],
      },
      options: {
        plugins: {
          title: {
            display: true,
            text: "Lead Traffic Source",
          },
        },
        scales: {
          y: {
            beginAtZero: true,
          },
        },
      },
    });
    console.log(this.array1);
    // console.log(JSON.parse(JSON.stringify(this.array1)));
  },
  async created() {
    await this.array1.push(this.ig_channel.length);
    await this.array1.push(this.fc_channel.length);
    await this.array1.push(this.ws_channel.length);
    return this.array1;
  },
  components: { SalesFunnel },
};
</script>