<template>
  <el-row :gutter="20">
    <el-col :span="24"
      ><div class="grid-content bg-purple-dark">
        <canvas
          ref="myChartRef"
          width="200"
          height="120"
          class="line-graph"
        ></canvas></div
    ></el-col>
  </el-row>
</template>

<script>
import Chart from "chart.js/auto";

export default {
  name: "Progress",
  mounted() {
    const ctx = this.$refs.myChartRef.getContext("2d");
    new Chart(ctx, {
      type: "line",
      data: {
        labels: [
          "September",
          "October",
          "November",
          "December",
          "January",
          "February",
          "March",
          "April",
          "May",
        ],
        datasets: [
          {
            label: "Payments",
            data: [3, 2, 6, 9, 12, 10, 15, 16, 11, 14, 15, 9],
            backgroundColor: [
              "rgba(255, 88, 132, 0.2)",
              "rgba(54, 162, 235, 0.2)",
              "rgba(255, 206, 86, 0.2)",
            ],
            borderColor: [
              "rgba(255, 99, 132, 2)",
              "rgba(54, 162, 235, 1)",
              "rgba(255, 206, 86, 1)",
            ],
            borderWidth: 1,
          },
          {
            label: "Expenses",
            data: [5, 8, 6, 12, 12, 8, 5, 8, 19, 9, 11, 18],
            backgroundColor: [
              "rgba(255, 88, 132, 0.2)",
              "rgba(54, 162, 235, 0.2)",
              "rgba(255, 206, 86, 0.2)",
            ],
            borderColor: [
              "rgba(255, 99, 132, 2)",
              "rgba(54, 162, 235, 1)",
              "rgba(255, 206, 86, 1)",
            ],
            borderWidth: 1,
          },
        ],
      },
      options: {
        bezierCurve: false,
        plugins: {
          title: {
            display: true,
            text: "Lead Traffic Source",
          },
        },
        scales: {
          y: {
            beginAtZero: true,
          },
        },
      },
    });
  },
};
</script>

<style scoped>
.grid-content {
  border-radius: 4px;
  min-height: 250px;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  margin: 20px 0;
}
.line-graph {
  padding: 30px;
  max-height: 400px;
}
</style>