<template>
  <div>
    <canvas
      ref="myFunnelRef"
      width="200"
      height="125"
      class="horizontal-bar-chart"
    ></canvas>
  </div>
</template>

<script>
import Chart from "chart.js/auto";

export default {
  name: "SalesFunnel",
  mounted() {
    const ctx = this.$refs.myFunnelRef.getContext("2d");
    new Chart(ctx, {
      type: "bar",
      data: {
        labels: ["New Leads", "Contacted", "Trial Lesson", "Paid"],
        datasets: [
          {
            label: "Sales Funnel",
            data: [40, 30, 22, 16],
            backgroundColor: [
              "rgba(255, 88, 132, 0.2)",
              "rgba(54, 162, 235, 0.2)",
              "rgba(255, 206, 86, 0.2)",
              "rgba(255, 88, 132, 0.2)",
            ],
            borderColor: [
              "rgba(255, 99, 132, 2)",
              "rgba(54, 162, 235, 1)",
              "rgba(255, 206, 86, 1)",
              "rgba(255, 99, 132, 2)",
            ],
            borderWidth: 1,
          },
        ],
      },
      options: {
        plugins: {
          title: {
            display: true,
            text: "Overall Sales Funnel",
          },
        },
        indexAxis: "y",
        scales: {
          y: {
            beginAtZero: true,
          },
        },
      },
    });
  },
};
</script>

<style scoped>
.horizontal-bar-chart {
  padding: 30px;
  height: 800px;
}
</style>