<template>
    <div class="stats">
        <el-row :gutter="20">
  <el-col :span="4"><div class="grid-content stat-box bg-purple">
    <!-- <img src="../../../assets/icons/download-solid.svg" alt=""> -->
    <i class="el-icon-receiving"></i>
    <router-link style="text-decoration: none" to="/leads">
      <div class="stat-disc">
      <p>{{ $t('dashboard.active-leads') }}</p>
      <h2>{{ this.leads.length }}</h2>
    </div>
    </router-link>
    </div></el-col>
  <el-col :span="4"><div class="grid-content stat-box bg-purple-light">
    <!-- <img src="../../../assets/icons/graduation-cap-solid.svg" alt=""> -->
    <i class="el-icon-user"></i>
    <div class="stat-disc">
      <router-link style="text-decoration: none" to="/students">
        <p>{{ $t('dashboard.active-students') }}</p>
        <h2>{{ this.students.length }}</h2>
      </router-link>
    </div>
    </div></el-col>
  <el-col :span="4"><div class="grid-content stat-box bg-purple">
    <!-- <img src="../../../assets/icons/chalkboard-user-solid.svg" alt=""> -->
    <i class="el-icon-suitcase"></i>
    <div class="stat-disc">
      <router-link style="text-decoration: none" to="/teachers">
        <p>{{ $t('dashboard.teachers') }}</p>
        <h2>{{ this.teachers.length }}</h2>
      </router-link>
    </div>
  </div></el-col>
  <el-col :span="4"><div class="grid-content stat-box bg-purple-light">
    <!-- <img src="../../../assets/icons/triangle-exclamation-solid.svg" alt=""> -->
    <i class="el-icon-warning-outline"></i>
    <div class="stat-disc">
      <router-link style="text-decoration: none" to="/debtors">
        <p>{{ $t('dashboard.debtors') }}</p>
        <h2>...</h2>
      </router-link>
    </div>
  </div></el-col>
  <el-col :span="4"><div class="grid-content stat-box bg-purple">
    <!-- <img src="../../../assets/icons/layer-group-solid.svg" alt=""> -->
    <i class="el-icon-files"></i>
    <div class="stat-disc">
      <router-link style="text-decoration: none" to="/groups">
        <p>{{ $t('dashboard.active-groups') }}</p>
        <h2>...</h2>
      </router-link>
    </div>
  </div></el-col>
  <el-col :span="4"><div class="grid-content stat-box bg-purple-light">
    <!-- <img src="../../../assets/icons/code-branch-solid.svg" alt=""> -->
    <i class="el-icon-map-location"></i>
    <div class="stat-disc">
      <router-link style="text-decoration: none" to="/branches">
        <p>Branches</p>
        <h2>...</h2>
      </router-link>
    </div>
  </div></el-col>
</el-row>
    </div>
</template>

<script>
import { mapGetters } from 'vuex'

export default {
    name: "Statistics",
    computed: {
      ...mapGetters(["leads", "teachers", "students"]),
    }
}
</script>

<style scoped>
  h2, p {
    color: #2c3e50;
  }
  img {
    height: 25px;
  }
    .el-row {
    margin-bottom: 20px;
  }
  .el-col {
    /* margin: 0 2px; */
    border-radius: 4px;
  }
  .grid-content {
    border-radius: 4px;
    min-height: 110px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
    padding: 5px;
    /* background: wheat; */
    display: flex;
    align-items: center;
    justify-content: space-around;
    border-left: 3px solid cornflowerblue;
  }
  .row-bg {
    padding: 10px 0;
    background-color: #f9fafc;
  }

  .stat-disc {
    display: block;
    cursor: pointer;
  }

  i {
    background: rgb(111, 152, 235);
    color: #fff;
    padding: 13px;
    border-radius: 50%;
    font-weight: 500;
  }
</style>