<template>
  <div class="grid-layout">
    <Statistics />
    <Charts />
    <Progress />
  </div>
</template>

<script>
import Statistics from "../Dashboard/components/Statistics.vue";
import Charts from "../Dashboard/components/Charts.vue";
import Progress from "./components/Progress.vue";

export default {
  components: { Statistics, Charts, Progress },
};
</script>

<style scoped>
</style>