<template>
  <div>
    <div class="container">
      <div class="footer">Hello</div>
      <div class="support">Hello</div>
      <div class="logo">Hello</div>
      <div class="navbar">Hello</div>
      <div class="sidebar">
        <div class="one">Hello</div>
        <div class="two">Hello</div>
        <div class="three">Hello</div>
        <div class="four">Hello</div>
        <div class="five">Hello</div>
        <div class="six">Hello</div>
        <div class="seven">Hello</div>
        <div class="eight">Hello</div>
        <div class="nine">Hello</div>
      </div>
      <div class="views"></div>
    </div>
  </div>
</template>

<script>
export default {
  name: "DashboardLayout",
};
</script>

<style scoped>
* {
  /* overflow-x: hidden; */
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}
.container {
  display: grid;
  grid-template-columns: 0.12fr 1.7fr 1fr;
  grid-template-rows: 0.4fr 1.6fr 1.8fr 0.2fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas:
    "logo navbar navbar"
    "sidebar views views"
    "sidebar views views"
    "support footer footer";
  min-height: 100vh;
  max-width: 100vw;
}

.footer,
.support,
.navbar,
.one,
.two,
.three,
.four,
.five,
.six,
.seven,
.eight,
.nine,
.views {
  padding: 5px;
  text-align: center;
}

.footer {
  grid-area: footer;
  background: grey;
}

.support {
  grid-area: support;
}

.logo {
  grid-area: logo;
}

.navbar {
  grid-area: navbar;
}

.sidebar {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas:
    "one"
    "two"
    "three"
    "four"
    "five"
    "six"
    "seven"
    "eight"
    "nine";
  grid-area: sidebar;
}

.one {
  grid-area: one;
}

.two {
  grid-area: two;
}

.three {
  grid-area: three;
}

.four {
  grid-area: four;
}

.five {
  grid-area: five;
}

.six {
  grid-area: six;
}

.seven {
  grid-area: seven;
}

.eight {
  grid-area: eight;
}

.nine {
  grid-area: nine;
}

.views {
  grid-area: views;
  background: wheat;
}

html,
body,
.container {
  height: 100%;
  margin: 0;
}

/* For presentation only, no need to copy the code below */

.container * {
  border: 1px solid red;
  position: relative;
}

.container *:after {
  /* content: attr(class); */
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: grid;
  align-items: center;
  justify-content: center;
}
</style>