<template>
  <div class="home">
    <!-- <NavBar /> -->
    <Overview />
    <FilterPanel />
    <TableTabs />
  </div>
</template>

<script>
// @ is an alias to /src
// import NavBar from '../components/NavBar.vue'
import FilterPanel from "./Leads/components/FilterPanel.vue";
import TableTabs from "./Leads/components/TableTabs.vue";
import Overview from "./Leads/components/Overview.vue";

export default {
  name: "Home",
  components: {
    // NavBar,
    FilterPanel,
    TableTabs,
    Overview,
  },
};
</script>
