<template>
  <div>
    <div class="layout">
      <div class="top-part"><h2>Student's Name</h2></div>
      <UserCard />
      <div class="info"></div>
    </div>
  </div>
</template>

<script>
import UserCard from "./components/UserCard.vue";

export default { components: { UserCard } };
</script>

<style scoped>
.layout {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 10px;
}

.top-part {
  /* background: grey; */
  grid-column: 1 / 5;
  padding: 10px;
  box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px,
    rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
}
.info {
  /* background: wheat; */
  grid-column: 2 / 5;
  box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px,
    rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
}
</style>