<template>
    <div>
        <h4>Copyright 2022</h4>
    </div>
</template>

<script>
export default {
    name: "Footer",
}
</script>

<style scoped>
    h4 {
        text-align: center;
        padding: 10px;
    }
</style>