<template>
    <div>
        <el-dropdown trigger="click">
  <span class="el-dropdown-link">
    Lang<i class="el-icon-arrow-down el-icon--right"></i>
  </span>
  <el-dropdown-menu slot="dropdown">
    <el-dropdown-item>English</el-dropdown-item>
    <el-dropdown-item>Russian</el-dropdown-item>
    <el-dropdown-item>Uzbek</el-dropdown-item>
  </el-dropdown-menu>
</el-dropdown>
    </div>
</template>

<script>
export default {
    name: "LanguageSwitcher",
}
</script>

<style scoped>
.el-dropdown-link {
    cursor: pointer;
    color: #409EFF;
    background: rgb(247, 245, 245);
    margin-left: 14px;
    padding: 10px;
    border-radius: 8px;
  }
  .el-icon-arrow-down {
    font-size: 12px;
  }
</style>