<template>
    <div>
        <el-button @click="drawer = true" type="primary">
</el-button>

    <el-drawer
  title="I am the title"
  :visible.sync="drawer"
  :with-header="false">
  
  <el-calendar>
  <!-- Use 2.5 slot syntax. If you use Vue 2.6, please use new slot syntax-->
  <template
    slot="dateCell"
    slot-scope="{date, data}">
    <p :class="data.isSelected ? 'is-selected' : ''">
      {{ data.day.split('-').slice(1).join('-') }} {{ data.isSelected ? '✔️' : ''}}
    </p>
  </template>
</el-calendar>

</el-drawer>
    </div>
</template>

<script>
export default {
    data() {
      return {
        drawer: false,
        value: new Date(),
      };
    }
}
</script>

<style scoped>
.is-selected {
    color: #1989FA;
  }
</style>