<template>
  <div class="blocks">
    <router-link to="/">
      <img class="logo" src="https://picsum.photos/200/300" alt="" srcset="" />
    </router-link>
    <div class="algolia-search">
      <el-input
        placeholder="Please input"
        v-model="input"
        size="medium"
      ></el-input>
      <el-dropdown
        type="primary"
        @click="handleClick"
        trigger="click"
        class="dropdown"
      >
        <el-button
          type="primary"
          icon="el-icon-circle-plus"
          circle
          size="mini"
        ></el-button>
        <el-dropdown-menu slot="dropdown" class="menu-board">
          <el-dropdown-item class="dropdownItem"
            ><i class="el-icon-phone"></i>
            <p>Create New Lead</p></el-dropdown-item
          >
          <el-dropdown-item class="dropdownItem">
            <i class="el-icon-s-finance"></i>
            Create New Deal
          </el-dropdown-item>
          <el-dropdown-item class="dropdownItem">
            <i class="el-icon-s-flag"></i>
            Create New Activity
          </el-dropdown-item>
          <el-dropdown-item class="dropdownItem"
            ><i class="el-icon-s-order"></i>
            Create New Note
          </el-dropdown-item>
          <el-dropdown-item class="dropdownItem"
            ><i class="el-icon-user-solid"></i>
            Create New Student
          </el-dropdown-item>
        </el-dropdown-menu>
      </el-dropdown>
    </div>
    <div class="quick-panel">
      <!-- <i class="el-icon-menu"></i> -->
      <MenuDropDown />
      <!-- <i class="el-icon-message-solid"></i> -->
      <Notifications />
      <i
        class="el-icon-full-screen"
        @click="fullScreen()"
        @dblclick="exitFullScreen()"
      ></i>
      <div class="profile">
        Ceo Account
        <!-- <div class="block"><el-avatar :size="40" :src="circleUrl"></el-avatar></div> -->
        <div class="block">
          <el-avatar :size="40" style="background: cornflowerblue"></el-avatar>
        </div>
      </div>
    </div>
  </div>
</template>

<style scoped>
.blocks {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 5px 10px;
}
.left-panel {
  display: flex;
  align-items: center;
  justify-content: center;
}

.left-panel i {
  margin-right: 10px;
}
.search-engine {
  width: 250px;
}

.menu-board {
  font-family: sans-serif;
  min-height: 200px;
  min-width: 200px;
}

.dropdown {
  vertical-align: top;
}

.dropdownItem {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.logo {
  height: 50px;
  cursor: pointer;
}

.algolia-search {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.algolia-search >>> .el-input--medium > .el-input__inner {
  border-radius: 16px;
  border: 2px solid cornflowerblue;
  width: 350px;
  margin-right: 10px;
}
.quick-panel {
  /* background: rgb(176, 198, 240); */
  min-width: 320px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.profile {
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
}

.profile .block {
  margin-left: 10px;
}

i {
  color: darkslategray;
  font-weight: bold;
  font-size: 20px;
  cursor: pointer;
}
i:hover {
  color: cornflowerblue;
}
</style>

<script>
// import LanguageSwitcher from "./LanguageSwitcher.vue";
import MenuDropDown from "./MenuDropDown.vue";
import Notifications from "./Notifications.vue";
export default {
  name: "MainHeader",
  data() {
    return {
      input: "",
      value2: true,
      // squareUrl: "https://picsum.photos/200",
      sizeList: ["large", "medium", "small"],
    };
  },
  methods: {
    // This Method is gonna enable Full Screen Mode in Browser (supports almost all browsers)
    fullScreen() {
      const docElem = document.documentElement;
      if (docElem.requestFullscreen) {
        docElem.requestFullscreen();
      } else if (docElem.webkitRequestFullscreen) {
        docElem.webkitRequestFullscreen();
      } else if (docElem.msRequestFullscreen) {
        docElem.msRequestFullscreen();
      } else if (docElem.mozRequestFullScreen) {
        docElem.mozRequestFullScreen();
      }
    },
    // This method is gonna exit full screen mode in browser
    exitFullScreen() {
      const docElem = document.documentElement;
      if (docElem.exitFullscreen) {
        docElem.exitFullscreen();
      } else if (docElem.webkitExitFullscreen) {
        docElem.webkitExitFullscreen();
      } else if (docElem.mozCancelFullScreen) {
        docElem.mozCancelFullScreen();
      } else if (docElem.msExitFullscreen) {
        docElem.msExitFullscreen();
      }
    },
  },
  components: { MenuDropDown, Notifications },
};
</script>