<template>
  <div>
    <el-dropdown trigger="click">
      <span class="el-dropdown-link">
        <i class="el-icon-menu"></i>
      </span>
      <el-dropdown-menu slot="dropdown" class="menu-board">
        <!-- <router-link to="/login">
          <h2>Login</h2>
      </router-link> -->
        <div class="container">
          <div class="language"></div>
          <div class="buttons">
            <div class="one">
              <LanguageSwitcher />
            </div>
            <div class="two">
              <el-switch
                v-model="value2"
                active-color="#13ce66"
                inactive-color="grey"
              >
              </el-switch>
            </div>
            <div class="three"></div>
            <div class="four"></div>
          </div>
          <div class="time">
            <div class="Hour"></div>
            <div class="weather"></div>
          </div>
          <div class="menu">
            <div class="btn1"></div>
            <div class="btn2"></div>
            <div class="btn3"></div>
            <div class="btn4"></div>
          </div>
          <div class="branches"></div>
        </div>

        <!-- Things to add here  -->
        <!--    1. Language Switcher
        2. Branch Switcher
        3. Quick Buttons
        4. Full Screen Mode
          -->
      </el-dropdown-menu>
    </el-dropdown>
  </div>
</template>

<script>
import LanguageSwitcher from "./LanguageSwitcher.vue";

export default {
  name: "MenuDropDown",
  components: {
    LanguageSwitcher,
  },
  data() {
    return {
      value2: "",
    };
  },
};
</script>

<style scoped>
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.menu-board {
  min-height: 400px;
  min-width: 400px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}
i {
  cursor: pointer;
}

i:hover {
  color: cornflowerblue;
}

.container {
  display: grid;
  grid-template-columns: 1.1fr 0.9fr 1fr;
  grid-template-rows: 0.2fr 1.3fr 1.9fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas:
    "language language language"
    "menu time buttons"
    "branches branches branches";
  min-height: 400px;
}

.language {
  grid-area: language;
}

.buttons {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas:
    "one two"
    "three four";
  grid-area: buttons;
}

.one {
  grid-area: one;
}

.two {
  grid-area: two;
}

.three {
  grid-area: three;
}

.four {
  grid-area: four;
}

.five {
  grid-area: five;
}

.six {
  grid-area: six;
}

.seven {
  grid-area: seven;
}

.eight {
  grid-area: eight;
}

.nine {
  grid-area: nine;
}

.time {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas:
    "Hour Hour Hour"
    "weather weather weather";
  grid-area: time;
}

.Hour {
  grid-area: Hour;
}

.weather {
  grid-area: weather;
}

.menu {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas:
    "btn1 btn2"
    "btn3 btn4";
  grid-area: menu;
}

.btn1 {
  grid-area: btn1;
}

.btn2 {
  grid-area: btn2;
}

.btn3 {
  grid-area: btn3;
}

.btn4 {
  grid-area: btn4;
}

.btn5 {
  grid-area: btn5;
}

.btn6 {
  grid-area: btn6;
}

.btn7 {
  grid-area: btn7;
}

.btn8 {
  grid-area: btn8;
}

.btn9 {
  grid-area: btn9;
}

.tasks {
  grid-area: tasks;
}

.branches {
  grid-area: branches;
}

html,
body,
.container {
  height: 100%;
  margin: 0;
}

/* For presentation only, no need to copy the code below */

.container * {
  border: 1px solid red;
  position: relative;
}

.container *:after {
  /* content: attr(class); */
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: grid;
  align-items: center;
  justify-content: center;
}
</style>