<template>
    <div>
<el-menu
  :default-active="activeIndex2"
  class="el-menu-demo"
  mode="horizontal"
  @select="handleSelect"
  background-color="cornflowerblue"
  text-color="#fff"
  active-text-color="black">
  <el-menu-item index="1">Dashboard</el-menu-item>
  <el-submenu index="2">
    <template slot="title">Workspace</template>
    <el-menu-item index="2-1">Target</el-menu-item>
    <el-menu-item index="2-2">Incoming Calls</el-menu-item>
    <el-menu-item index="2-3">Old Leads</el-menu-item>
  </el-submenu>
  <el-menu-item index="4"><a href="https://www.youtube.com" target="_blank">Youtube</a></el-menu-item>
  <el-menu-item index="4"><a href="https://element.eleme.io/#/en-US/component/installation" target="_blank">Element UI</a></el-menu-item>
  <el-menu-item index="4"><a href="https://gitlab.com/B007/tilda-clone" target="_blank">Gitlab</a></el-menu-item>
</el-menu>
    </div>
</template>

<style scoped>

</style>

<script>
export default {
    name: "NavBar",
    data() {
        return {
              activeIndex: '1',
              activeIndex2: '1'
        }
    },
    methods: {
        handleSelect(key, keyPath) {
        console.log(key, keyPath);
      }
    }
}
</script>