<template>
    <div>
        <el-dropdown trigger="click">
  <span class="el-dropdown-link">
      <el-badge :value="12" class="item">
          <i class="el-icon-message-solid"></i>
      </el-badge>
  </span>
  <el-dropdown-menu slot="dropdown" class="menu-board">
    <!-- <el-dropdown-item>English</el-dropdown-item>
    <el-dropdown-item>Russian</el-dropdown-item>
    <el-dropdown-item>Uzbek</el-dropdown-item> -->
  </el-dropdown-menu>
</el-dropdown>
    </div>
</template>

<script>
export default {
    name: "Notifications",
}
</script>

<style scoped>
    .menu-board {
        min-height: 400px;
        min-width: 400px;
        box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
    }
    i {
        cursor: pointer;
    }

    i:hover{
        color: cornflowerblue;
    }

    .item {
  margin-top: 10px;
  margin-right: 40px;
}
</style>