<template>
    <div>
        <div class="sidebar">
        <div class="page">
          <router-link to="/leads" style="text-decoration: none">
            <!-- <img src="../src/assets/icons/download-solid.svg" alt=""> -->
            <i class="el-icon-receiving"></i>
            <p>Leads</p>
          </router-link>
        </div>
        <div class="page">
          <router-link to="/teachers" style="text-decoration: none">
            <!-- <img src="../src/assets/icons/chalkboard-user-solid.svg" alt=""> -->
            <i class="el-icon-suitcase"></i>
            <p>Teachers</p>
          </router-link>
        </div>
        <div class="page">
          <router-link to="/groups" style="text-decoration: none">
            <!-- <img src="../src/assets/icons/layer-group-solid.svg" alt=""> -->
            <i class="el-icon-files"></i>
            <p>Groups</p>
          </router-link>
        </div>
        <div class="page">
          <router-link to="/students" style="text-decoration: none">
            <!-- <img src="../src/assets/icons/graduation-cap-solid.svg" alt=""> -->
            <i class="el-icon-user"></i>
            <p>Students</p>
          </router-link>
        </div>
        <div class="page">
          <router-link to="/students" style="text-decoration: none">
            <!-- <img src="../src/assets/icons/graduation-cap-solid.svg" alt=""> -->
            <i class="el-icon-message"></i>
            <p>SMS</p>
          </router-link>
        </div>
        <div class="page">
          <router-link to="/finance" style="text-decoration: none">
            <!-- <img src="../src/assets/icons/coins-solid.svg" alt=""> -->
            <i class="el-icon-coin"></i>
            <p>Finance</p>
          </router-link>
        </div>
        <div class="page" style="text-decoration: none">
          <!-- <img src="../src/assets/icons/download-solid.svg" alt=""> -->
          <i class="el-icon-document"></i>
          <p>Reports</p>
        </div>
        <div class="page" style="text-decoration: none">
          <!-- <img src="../src/assets/icons/download-solid.svg" alt=""> -->
          <i class="el-icon-setting"></i>
          <p>Settings</p>
        </div>
      </div>
    </div>
</template>

<script>
export default {
    name: "Sidebar",
}
</script>

<style scoped>
    .sidebar {
  height: 100vh;
  min-width: 100px;
  box-shadow: rgba(0, 0, 0, 0.15) 2.4px 2.4px 3.2px;
  overflow: hidden;
  overflow-y: auto;
  border-radius: 12px;
}

i, p {
    color: rgb(47, 46, 46);
}
.page :hover {
    color: rgb(55, 118, 236);
}


.page {
  /* display: none; */
  cursor: pointer;
  padding-top: 18px;
  min-height: 100px;
  border-bottom: 1px solid rgb(97, 152, 255);
}

.page:active {
  border-left: 5px solid cornflowerblue;
  background-color: rgb(226, 235, 253);
}
</style>