<template>
  <div>
    <div class="container">
      <div class="card">Card</div>
    </div>
  </div>
</template>

<script>
export default {
  name: "UserCard",
};
</script>

<style scoped>
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.container {
  min-height: 100vh;
  box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px,
    rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
}

.card {
  /* background: steelblue; */
  padding: 10px;
  min-height: 400px;
  /* box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px,
    rgba(14, 30, 37, 0.32) 0px 2px 16px 0px; */
}
</style>