<template>
  <div>
    <div class="container">
      <div class="Tabs"></div>
      <div class="leadCard">
        <div class="fullname">fullname</div>
        <div class="Tags">tags</div>
        <div class="process">process</div>
        <div class="tabs2">tabs2</div>
      </div>
      <div class="addComment">comment</div>
      <div class="addInputs">inputs</div>
      <div class="Display">display</div>
      <div class="Contacts">contacts</div>
    </div>
  </div>
</template>

<script>
export default {
  name: "EditLead",
};
</script>

<style scoped>
.container {
  display: grid;
  grid-template-columns: 1.2fr 0.8fr 1fr;
  grid-template-rows: 0.4fr 0.9fr 1.7fr 1.5fr 0.5fr;
  gap: 4px 4px;
  grid-auto-flow: row;
  grid-template-areas:
    "leadCard Tabs Tabs"
    "leadCard Display Display"
    "Contacts Display Display"
    "Contacts Display Display"
    "addInputs addComment addComment";
}

.Tabs {
  background: grey;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 4.9fr 0.1fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas:
    ". . ."
    ". . ."
    ". . .";
  grid-area: Tabs;
}

.leadCard {
  background: wheat;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas:
    "fullname fullname fullname"
    "Tags Tags Tags"
    "process process process"
    "tabs2 tabs2 tabs2";
  grid-area: leadCard;
}

.fullname {
  grid-area: fullname;
  background: #222;
}

.Tags {
  grid-area: Tags;
  background: #444;
}

.process {
  grid-area: process;
  background: #555;
}

.tabs2 {
  grid-area: tabs2;
  background: #777;
}

.addComment {
  grid-area: addComment;
  background: steelblue;
}

.addInputs {
  grid-area: addInputs;
  background: sandybrown;
}

.Display {
  grid-area: Display;
  background: wheat;
}

.Contacts {
  background: coral;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas:
    ". . ."
    ". . ."
    ". . .";
  grid-area: Contacts;
}
</style>