<template>
  <div class="panel">
    <div class="filters-part">
      <div class="block"></div>
    </div>

    <!-- Action buttons in Filter panel  -->
    <div class="actions-part">
      <el-button type="primary" size="small" @click="drawer = true"
        >{{ $t("general.labels.new_lead") }} +</el-button
      >
      <el-button type="info" size="small">
        <router-link to="/form">Lead Form</router-link></el-button
      >
    </div>

    <!-- Modal to for Adding new Lead  -->
    <el-drawer
      title="I am the title"
      :visible.sync="drawer"
      :with-header="false"
    >
      <!-- Form to Add Lead  -->
      <el-form
        :label-position="labelPosition"
        label-width="100px"
        :model="formLabelAlign"
        class="addLeadForm"
      >
        <h2>Add New Lead</h2>

        <el-form-item label="Date:">
          <el-date-picker
            v-model="formLabelAlign.leadTime"
            type="datetime"
            placeholder="Select date and time"
          >
          </el-date-picker>
        </el-form-item>

        <el-form-item label="Name">
          <el-input
            v-model="formLabelAlign.name"
            placeholder="Enter Name ...."
          ></el-input>
        </el-form-item>

        <el-form-item label="Status">
          <el-input
            v-model="formLabelAlign.status"
            placeholder="Enter Status here..."
          ></el-input>
        </el-form-item>

        <el-form-item label="Phone">
          <el-input
            v-model="formLabelAlign.phone"
            placeholder="996246382"
          ></el-input>
        </el-form-item>

        <el-form-item label="Email">
          <el-input
            v-model="formLabelAlign.email"
            placeholder="Username@gmail.com"
          ></el-input>
        </el-form-item>

        <el-form-item label="Traffic:">
          <el-input
            v-model="formLabelAlign.channel"
            placeholder="Telegram"
          ></el-input>
        </el-form-item>

        <el-form-item label="Comment:">
          <el-input
            v-model="formLabelAlign.comment"
            placeholder="Comment here..."
          ></el-input>
        </el-form-item>

        <el-form-item class="form-btns">
          <el-button type="primary" @click="submitForm('ruleForm')"
            >Create</el-button
          >
          <el-button @click="resetForm('ruleForm')">Reset</el-button>
        </el-form-item>
      </el-form>
    </el-drawer>
  </div>
</template>

<style scoped>
* {
  font-family: sans-serif;
}
.panel {
  display: flex;
  align-items: center;
  justify-content: space-between;
  /* background: rgb(213, 227, 255); */
  /* padding: 10px; */
}
.filters-part {
  width: 60%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.actions-part {
  margin: 0;
  width: 40%;
  display: flex;
  align-items: center;
  justify-content: right;
}

.date-picker,
.drop-down,
.search-input {
  margin-right: 5px;
}

.addLeadForm {
  /* background: grey; */
  margin: 10px auto;
  padding: 10px 20px;
}

h2 {
  text-align: center;
  padding: 5px;
  margin-bottom: 20px;
}

.form-btns {
  /* background: coral; */
  display: flex;
  align-items: right;
  justify-content: space-between;
}
</style>

<script>
import { mapActions } from "vuex";

export default {
  name: "FilterPanel",
  data() {
    return {
      input1: "",
      pickerOptions: {
        shortcuts: [
          {
            text: "Today",
            onClick(picker) {
              picker.$emit("pick", new Date());
            },
          },
          {
            text: "Yesterday",
            onClick(picker) {
              const date = new Date();
              date.setTime(date.getTime() - 3600 * 1000 * 24);
              picker.$emit("pick", date);
            },
          },
          {
            text: "A week ago",
            onClick(picker) {
              const date = new Date();
              date.setTime(date.getTime() - 3600 * 1000 * 24 * 7);
              picker.$emit("pick", date);
            },
          },
        ],
      },

      value: [],
      options: [
        {
          value: "guide",
          label: "Guide",
        },
      ],
      drawer: false,
      labelPosition: "right",
      formLabelAlign: {
        leadTime: "",
        name: "",
        status: "",
        phone: "",
        email: "",
        channel: "",
        comment: "",
      },
      newLeadInput: "",
    };
  },

  methods: {
    ...mapActions(["addLead"]),

    submitForm() {
      const newLead = {
        id: Math.floor(Math.random() * 100000),
        date: this.formLabelAlign.leadTime,
        name: this.formLabelAlign.name,
        status: this.formLabelAlign.status,
        phone: this.formLabelAlign.phone,
        email: this.formLabelAlign.email,
        channel: this.formLabelAlign.channel,
        comment: this.formLabelAlign.comment,
      };

      console.log(newLead);
      this.addLead(newLead);
    },
  },
};
</script>