<template slot-scope="{ row }">
  <div class="lead-table">
    <el-table
      :data="table_data"
      style="width: 100%; text-align: center"
      height="550"
    >
      <el-table-column type="selection" width="35" style="margin: auto">
      </el-table-column>
      <el-table-column :label="$t('general.labels.date')" prop="date">
      </el-table-column>
      <el-table-column :label="$t('general.labels.name')" prop="name">
      </el-table-column>
      <el-table-column
        :label="$t('general.labels.status')"
        prop="status"
        width="85"
      >
        <template slot-scope="scope">
          <div slot="reference" class="name-wrapper">
            <el-tag size="medium">{{ scope.row.status }}</el-tag>
          </div>
        </template>
      </el-table-column>
      <el-table-column
        :label="$t('general.labels.number')"
        prop="phone"
        width="110"
      >
      </el-table-column>
      <el-table-column
        :label="$t('general.labels.email')"
        prop="email"
        width="210"
      >
      </el-table-column>
      <el-table-column
        :label="$t('general.labels.traffic')"
        prop="channel"
        width="110"
      >
      </el-table-column>
      <el-table-column
        :label="$t('general.labels.comment')"
        prop="comment"
        width="95"
      >
      </el-table-column>
      <el-table-column align="right">
        <template slot="header">
          <!-- <el-input v-model="search" size="mini" placeholder="Type to search" /> -->
          <el-select
            v-model="value2"
            multiple
            collapse-tags
            style="margin-left: 20px"
            placeholder="Select"
            size="mini"
          >
            <el-option
              v-for="item in options"
              :key="item.value"
              :label="item.label"
              :value="item.value"
            >
            </el-option>
          </el-select>
        </template>
        <template slot-scope="scope">
          <el-button
            type="primary"
            icon="el-icon-edit"
            circle
            size="mini"
            @click="handleEdit(scope.row)"
            class="btn-edit"
            plain
          ></el-button>
          <el-popconfirm
            title="Are you sure to delete this?"
            @confirm="handleDelete(scope.row.id)"
          >
            <el-button
              type="danger"
              icon="el-icon-delete"
              size="mini"
              slot="reference"
              circle
              class="btn-delete"
              plain
            ></el-button>
          </el-popconfirm>
        </template>
      </el-table-column>
    </el-table>
    <!-- @click="handleEdit(scope.row)" -->
    <!-- @click="drawer2 = true" -->

    <div class="pagination">
      <el-pagination background layout="prev, pager, next" :total="1000">
      </el-pagination>
      <el-dropdown size="mini" split-button type="primary" click="limit-check">
        Mini
        <el-dropdown-menu slot="dropdown">
          <el-dropdown-item>Action 1</el-dropdown-item>
          <el-dropdown-item>Action 2</el-dropdown-item>
          <el-dropdown-item>Action 3</el-dropdown-item>
          <el-dropdown-item>Action 4</el-dropdown-item>
        </el-dropdown-menu>
      </el-dropdown>
    </div>
    <!-- Modal to for Editing Existing Lead  -->
    <el-drawer
      title="I am the title"
      :visible.sync="drawer2"
      :with-header="false"
      size="80%"
    >
      <el-form
        :label-position="labelPosition"
        label-width="20px"
        :model="formLabelAlign"
        class="addLeadForm"
      >
        <div class="container">
          <div class="Tabs">
            <el-tabs v-model="activeName" @tab-click="handleClick" stretch>
              <el-tab-pane
                label="Comments"
                name="first"
                style="color: #fff"
              ></el-tab-pane>
              <el-tab-pane label="Activity" name="second"></el-tab-pane>
              <el-tab-pane label="Gmail" name="third"></el-tab-pane>
              <el-tab-pane label="History" name="fourth">Console</el-tab-pane>
            </el-tabs>
          </div>
          <!-- <p>Notes | Activity | Gmail</p> -->
          <div class="leadCard">
            <div class="fullname">
              <el-form-item>
                <el-input
                  class="leadName"
                  size="small"
                  v-model="formLabelAlign.name"
                  placeholder="Enter Name ...."
                ></el-input>
              </el-form-item>
              <!-- <i class="el-icon-more"></i> -->
            </div>
            <div class="Tags">
              +998{{ formLabelAlign.phone }}
              <el-button
                type="success"
                icon="el-icon-phone-outline"
                circle
                size="mini"
              ></el-button>
            </div>
            <div class="process">
              <el-progress :percentage="75"></el-progress>
            </div>
          </div>
          <div class="addComment">
            <el-input placeholder="Please input" v-model="input"></el-input>
          </div>
          <div class="addInputs">
            <el-row>
              <!-- <el-button icon="el-icon-search" circle size="mini"></el-button> -->
              <el-button
                type="primary"
                icon="el-icon-success"
                circle
                @click="updateCurrentLead(formLabelAlign)"
                size="mini"
              ></el-button>
              <el-button
                type="success"
                icon="el-icon-chat-line-round"
                circle
                size="mini"
              ></el-button>
              <el-button
                type="info"
                icon="el-icon-message"
                circle
                size="mini"
              ></el-button>
              <el-button
                type="warning"
                icon="el-icon-star-off"
                circle
                size="mini"
              ></el-button>
              <el-button
                type="danger"
                icon="el-icon-delete"
                circle
                size="mini"
              ></el-button>
              <!-- <el-button plain @click="open1"> Success </el-button> -->
            </el-row>
          </div>
          <div class="Display">display</div>
          <div class="Contacts">
            <el-form-item label="Status" class="statusInput">
              <el-input
                v-model="formLabelAlign.status"
                placeholder="Enter Status here..."
                size="small"
              ></el-input>
            </el-form-item>

            <el-form-item label="Phone" class="statusInput">
              <el-input
                v-model="formLabelAlign.phone"
                placeholder="996246382"
                size="small"
              ></el-input>
            </el-form-item>

            <el-form-item label="Email" class="statusInput">
              <el-input
                v-model="formLabelAlign.email"
                placeholder="Username@gmail.com"
                size="small"
              ></el-input>
            </el-form-item>

            <el-form-item label="Traffic:" class="statusInput">
              <el-input
                v-model="formLabelAlign.channel"
                placeholder="Telegram"
                size="small"
              ></el-input>
            </el-form-item>

            <el-form-item label="Birthday: " class="statusInput">
              <el-input
                v-model="formLabelAlign.birthday"
                placeholder="Username@gmail.com"
                size="small"
              ></el-input>
            </el-form-item>

            <el-form-item label="Address:" class="statusInput">
              <el-input
                v-model="formLabelAlign.address"
                placeholder="Telegram"
                size="small"
              ></el-input>
            </el-form-item>

            <el-form-item label="Comment" class="statusInput">
              <el-input
                v-model="formLabelAlign.comment"
                placeholder="Comment here"
                size="small"
              ></el-input>
            </el-form-item>

            <el-form-item label="Phone 2:" class="statusInput">
              <el-input
                v-model="formLabelAlign.phone2"
                placeholder="Enter Second Number here"
                size="small"
              ></el-input>
            </el-form-item>
          </div>
        </div>
      </el-form>
    </el-drawer>
  </div>
</template>

<style scoped>
* {
  font-family: sans-serif;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.lead-table {
  width: 98%;
  margin: auto;
}
.pagination {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding: 5px;
}
.btn-edit,
.btn-delete {
  margin-left: 8px;
}

.addLeadForm {
  /* background: grey; */
  /* margin: 10px auto; */
  /* padding: 10px 20px; */
}

h2 {
  text-align: center;
  padding: 5px;
  margin-bottom: 20px;
}

/* Layouts CSS file  */
.container {
  display: grid;
  grid-template-columns: 1.2fr 0.8fr 1fr;
  grid-template-rows: 0.4fr 0.9fr 1.7fr 1.5fr 0.5fr;
  gap: 3px 3px;
  grid-auto-flow: row;
  grid-template-areas:
    "leadCard Tabs Tabs"
    "leadCard Display Display"
    "Contacts Display Display"
    "Contacts Display Display"
    "addInputs addComment addComment";
  height: 100vh;
  padding: 0px;
  box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px,
    rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
  /* border-radius: 9px 9px 9px 9px; */
  padding: 0px;
  background: cornflowerblue;
}

.Tabs {
  background: rgb(22, 55, 82);
  color: #fff;
  display: grid;
  grid-template-columns: 1fr;
  /* grid-template-rows: 1fr 4.9fr 0.1fr; */
  gap: 0px 0px;
  grid-auto-flow: row;
  /* grid-template-areas:
    ". . ."
    ". . ."
    ". . ."; */
  grid-area: Tabs;
  box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px,
    rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
  border-radius: 4px;
  padding: 10px;
}

.Tabs >>> .el-tabs__item {
  /* display: none; */
  color: #fff;
  font-weight: bolder;
}

.Tabs >>> .el-tabs__item.is-active {
  color: cornflowerblue;
}

.leadCard {
  background: rgb(22, 55, 82);
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas:
    "fullname fullname fullname"
    "Tags Tags Tags"
    "process process process";
  grid-area: leadCard;
  box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px,
    rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
  border-radius: 4px;
  padding: 10px;
}

.fullname {
  grid-area: fullname;
  /* background: #222; */
  box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px,
    rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
  border-radius: 4px 4px 4px 4px;
  padding: 10px;
  padding-bottom: 0px;
  /* display: flex;
  align-items: center;
  justify-content: space-between; */
}

.fullname >>> .el-input--small > .el-input__inner {
  background: transparent;
  color: #fff;
  font-weight: bolder;
  border: none;
  font-size: 24px;
}

.Tags {
  grid-area: Tags;
  /* background: #444; */
  /* box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px,
    rgba(27, 31, 35, 0.15) 0px 0px 0px 1px; */
  border-radius: 14px;
  padding: 10px 15px;
  background: rgba(201, 191, 191, 0.215);
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: space-between;
  text-align: center;
  font-size: 20px;
  font-family: Arial, Helvetica, sans-serif;
}

.process {
  grid-area: process;
  /* background: #555; */
  box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px,
    rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
  border-radius: 4px;
  padding-top: 20px;
}

.process >>> .el-progress__text {
  padding-left: 10px;
  color: #fff;
}

.addComment {
  grid-area: addComment;
  background: rgb(22, 55, 82);
  box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px,
    rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
  border-radius: 4px;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.addInputs {
  grid-area: addInputs;
  background: rgb(22, 55, 82);
  box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px,
    rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
  border-radius: 4px;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.statusInput {
  /* background: coral; */
  margin-top: 5px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0;
}

.statusInput >>> .el-input--small > .el-input__inner {
  background: transparent;
  width: 250px;
  height: 40px;
  border: none;
  border-bottom: 0.5px solid gray;
  outline: cornflowerblue;
}

.Display {
  grid-area: Display;
  /* background: wheat; */
  box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px,
    rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
  border-radius: 4px;
  padding: 10px;
  background: #fff;
}

.Contacts {
  /* background: coral; */
  box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px,
    rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
  border-radius: 4px;
  padding: 10px;
  display: grid;
  /* grid-template-columns: 1fr 1fr 1fr; */
  /* grid-template-rows: 1fr 1fr 1fr; */
  gap: 0px 0px;
  /* grid-auto-flow: row;
  grid-template-areas:
    ". . ."
    ". . ."
    ". . ."; */
  grid-area: Contacts;
  border: 1px solid rgb(22, 55, 82);
  background: #fff;
}

/* .Contacts {
  display: none;
} */

/* @click="handleEdit(scope.row.id)" */
</style>

<script>
import { mapActions } from "vuex";
// import moment from 'moment';

export default {
  name: "LeadTable",
  props: {
    table_data: {
      type: Array,
      default: () => [],
    },
  },
  data() {
    return {
      activeName: "Comment",
      input: "",
      labelPosition: "left",
      formLabelAlign: {
        // id: "",
        leadTime: "",
        name: "",
        status: "",
        phone: "",
        email: "",
        channel: "",
        comment: "",
        birthday: "",
        address: "",
        phone2: "",
      },
      drawer2: false,
      options: [
        {
          value: "Option1",
          label: "Date",
        },
        {
          value: "Option2",
          label: "Name",
        },
        {
          value: "Option3",
          label: "Status",
        },
        {
          value: "Option4",
          label: "Number",
        },
        {
          value: "Option5",
          label: "Email",
        },
        {
          value: "Option6",
          label: "Traffic",
        },
        {
          value: "Option7",
          label: "Comment",
        },
      ],
      value2: [],
    };
  },
  methods: {
    ...mapActions(["fetchLeads", "deleteLead", "updateLead"]),

    handleDelete(row) {
      this.deleteLead(row);
    },
    handleClick() {
      console.log("Hello");
    },

    handleEdit(rowId) {
      console.log(rowId);
      this.drawer2 = true;
      this.formLabelAlign = rowId;
    },

    open1() {
      this.$notify({
        title: "Success",
        message: "This Lead is updated Successfully",
        type: "success",
      });
    },

    updateCurrentLead(theLead) {
      const currentLead = {
        id: theLead.id,
        date: this.formLabelAlign.leadTime,
        name: this.formLabelAlign.name,
        status: this.formLabelAlign.status,
        phone: this.formLabelAlign.phone,
        email: this.formLabelAlign.email,
        channel: this.formLabelAlign.channel,
        comment: this.formLabelAlign.comment,
        birthday: this.formLabelAlign.birthday,
        address: this.formLabelAlign.address,
        phone2: this.formLabelAlign.phone2,
      };
      this.open1();
      this.updateLead(currentLead);
    },

    format(percentage) {
      if (this.formLabelAlign.status === "New") {
        return percentage === 100 ? "Full" : `${percentage}%`;
      } else if (this.formLabelAlign.status === "Open")
        return percentage === 100 ? "Full" : `${percentage}%`;
    },
  },
  computed: {},

  async created() {
    this.fetchLeads();
  },
};
</script>