<template>
  <div class="background">
    <div class="container">
      <el-form
        ref="form"
        :model="form"
        label-width="120px"
        class="form"
        :label-position="labelPosition"
      >
        <div class="form-photo">
          <img alt="" srcset="" />
        </div>
        <div class="block headline">
          <h3>O'quv markaziga so'rov qoldiring</h3>
          <p>
            Lorem, ipsum dolor sit amet consectetur adipisicing elit. Aut ipsum
            nisi voluptatem odio ullam. Quia quo eos ad animi. Quam!
          </p>
        </div>
        <div class="block name">
          <el-form-item label="Ism Familiya:">
            <el-input
              class="input"
              placeholder="Please input"
              v-model="form.name"
              clearable
            ></el-input>
          </el-form-item>
        </div>
        <div class="block number">
          <el-form-item label="Telefon:">
            <el-input
              class="input"
              placeholder="Please input"
              v-model="form.number"
              clearable
            >
              <template slot="prepend">+998</template>
            </el-input>
          </el-form-item>
        </div>
        <div class="block email">
          <el-form-item label="Email:">
            <el-input
              class="input"
              placeholder="Please input"
              v-model="form.email"
              clearable
            >
              <template slot="append">@gmail.com</template>
            </el-input>
          </el-form-item>
        </div>
        <div class="block comment">
          <el-form-item label="Comment:">
            <el-input
              class="input"
              type="textarea"
              placeholder="Please input"
              v-model="form.comment"
              maxlength="30"
              show-word-limit
              clearable
            >
            </el-input>
          </el-form-item>
        </div>
        <!-- <div class="block course"></div> -->
        <!-- <div class="block branch"></div> -->
        <div class="btns">
          <el-button type="danger" plain class="btn" @click="reset()"
            >Clear all</el-button
          >
          <el-button type="success" class="btn" @click="onSubmit"
            >Submit</el-button
          >
          <!-- <el-button :plain="true" @click="open2">success</el-button> -->
        </div>
      </el-form>
    </div>
  </div>
</template>

<style scoped>
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

.background {
  background: wheat !important;
}
.container {
  display: flex;
  width: 70%;
  margin: auto;
  align-items: center;
  justify-content: center;
  padding: 15px;
}
.form-photo {
  display: block;
  background: steelblue;
  height: 130px;
  width: 600px;
  border-radius: 12px;
  padding: 15px;
  background: rgba(255, 255, 255, 0.3);
  box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px,
    rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
  backdrop-filter: blur(0px);
  -webkit-backdrop-filter: blur(0px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
}

.block {
  display: block;
  background: #fff;
  min-height: 130px;
  width: 600px;
  border-radius: 12px;
  margin-top: 10px;
  padding: 15px;
  box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px,
    rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
}

.headline {
  border-top: 8px solid coral;
}

.headline p {
  padding-top: 10px;
  color: gray;
}

img {
  border-radius: 12px;
  height: 100px;
}

.block .input {
  /* padding-top: 10px; */
}

.btns {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding: 20px 0;
}
.btns .btn {
  padding: 15px 30px;
  border-radius: 14px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
</style>

<script>
// src="https://picsum.photos/500/150"
export default {
  name: "LeadForm",
  data() {
    return {
      labelPosition: "top",
      form: {
        name: "",
        number: "",
        email: "",
        comment: "",
      },
    };
  },
  methods: {
    onSubmit() {
      console.log(this.form);
      this.open2();
    },
    reset() {
      (this.form.name = ""),
        (this.form.number = ""),
        (this.form.email = ""),
        (this.form.comment = "");
    },
    open2() {
      this.$message({
        showClose: true,
        message: "Tabriklaymiz So'rovingiz Muvaffaqiyatli yuborildi!",
        type: "success",
      });
    },
  },
};
</script>