<template>
  <div>
    <div class="grid">
      <div class="span-col-2">
        <el-dropdown trigger="click">
          <span class="el-dropdown-link">
            <h3>September (57)</h3>
            <i class="el-icon-arrow-down el-icon--right"></i>
          </span>
          <el-dropdown-menu slot="dropdown" class="dropdown">
            <el-dropdown-item class="dropdown-item"
              >October (23)</el-dropdown-item
            >
            <el-dropdown-item class="dropdown-item"
              >November (55)</el-dropdown-item
            >
            <el-dropdown-item class="dropdown-item"
              >December (0)</el-dropdown-item
            >
            <hr />
            <el-dropdown-item class="dropdown-item"
              >Create New List +
            </el-dropdown-item>
          </el-dropdown-menu>
        </el-dropdown>
        <el-button type="success" round>Create New Lead +</el-button>
        <!-- <i class="el-icon-more"></i> -->
        <el-dropdown trigger="click">
          <span class="el-dropdown-link">
            <div class="filter-btn"><i class="el-icon-more"></i></div>
          </span>
          <el-dropdown-menu slot="dropdown" class="dropdown">
            <el-dropdown-item class="dropdown-item"
              >Statistics <i class="el-icon-right"></i
            ></el-dropdown-item>
            <el-dropdown-item class="dropdown-item"
              >Export <i class="el-icon-message"></i
            ></el-dropdown-item>
            <el-dropdown-item class="dropdown-item"
              >Delete List <i class="el-icon-delete"></i
            ></el-dropdown-item>
            <hr />
            <el-dropdown-item class="dropdown-item"
              >Go to Archive <i class="el-icon-delete"></i
            ></el-dropdown-item>
          </el-dropdown-menu>
        </el-dropdown>
      </div>
      <div class="span-col-2"></div>
      <div class="span-col-2">
        <div class="filter-btns">
          <div class="filter-btn"><i class="el-icon-search"></i> Search</div>
          <div class="filter-btn"><i class="el-icon-set-up"></i> Filters</div>
          <div class="filter-btn"><i class="el-icon-setting"></i> Settings</div>
          <!-- <div class="filter-btn"><i class="el-icon-more"></i></div> -->
          <el-dropdown trigger="click">
            <span class="el-dropdown-link">
              <div class="filter-btn"><i class="el-icon-more"></i></div>
            </span>
            <el-dropdown-menu slot="dropdown" class="dropdown">
              <el-dropdown-item class="dropdown-item"
                >Move <i class="el-icon-right"></i
              ></el-dropdown-item>
              <el-dropdown-item class="dropdown-item"
                >SMS <i class="el-icon-message"></i
              ></el-dropdown-item>
              <el-dropdown-item class="dropdown-item"
                >Delete <i class="el-icon-delete"></i
              ></el-dropdown-item>
            </el-dropdown-menu>
          </el-dropdown>
        </div>
        <el-radio-group v-model="radio1" size="small">
          <el-radio-button label="Table">T</el-radio-button>
          <el-radio-button label="Kanban">K</el-radio-button>
        </el-radio-group>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: "Overview",
  data() {
    return {
      radio1: "Table",
    };
  },
};
</script>

<style scoped>
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}
.grid {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-gap: 10px;
  /* background: slategray; */
  min-height: 80px;
  padding: 10px;
}

.span-col-2 {
  grid-column: span 2 / auto;
}
.span-col-2:nth-of-type(1) {
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.span-col-2:nth-of-type(2) {
  /* background: steelblue; */
}
.span-col-2:nth-of-type(3) {
  /* background: green; */
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.el-dropdown-link {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-weight: bold;
  cursor: pointer;
}

.el-icon-arrow-down {
  /* background: yellow; */
  margin-left: 5px;
}

i {
  cursor: pointer;
}

.dropdown-item {
  padding: 10px 30px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.lead-views {
  background: coral;
  border-radius: 12px;
}

i {
  padding: 3px;
  font-size: 20px;
  color: grey;
}

.filter-btns {
  display: flex;
  align-items: center;
  justify-content: space-between;
  /* background: cornflowerblue; */
}

.filter-btn {
  margin-right: 20px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  /* background: steelblue; */
  color: grey;
  font-size: 14px;
  /* font-weight: bolder; */
  cursor: pointer;
}
</style>