<template>
  <el-tabs v-model="activeName" @tab-click="handleClick" class="tabs">
    <!-- <el-tab-pane :label="$t('dashboard.active-leads') + '  -  ' + (this.leads.length)" name="">
            <LeadTable :table_data="filter_table_data" />
        </el-tab-pane> -->
    <el-tab-pane
      v-for="item in fields"
      :key="item.label"
      :label="`${item.label}  -  ${status_counts(item.name)}`"
      :name="item.name"
      :active="true"
      v-model="activeName"
    >
    </el-tab-pane>
    <LeadTable :table_data="filter_table_data" />
  </el-tabs>
</template>

<style scoped>
/* .tabs {
        width: 95%;
        margin: auto;
    } */
* {
  font-family: sans-serif;
}
</style>

<script>
import { mapGetters } from "vuex";
import LeadTable from "./LeadTable.vue";

export default {
  name: "Tabs",
  data() {
    return {
      activeName: "",
      status: null,
      fields: [
        { label: "All", name: "" },
        { label: "New", name: "New" },
        { label: "Open", name: "Open" },
        { label: "Closed", name: "Closed" },
      ],
    };
  },
  methods: {
    handleClick(tab) {
      this.status = tab.name;
    },
    status_counts(status) {
      if (!status) return this.leads.length;
      const array = this.leads.filter((e) => {
        if (e.status) {
          const a = e.status.toLowerCase();
          const b = status.toLowerCase();
          if (a === b) return e;
        }
      });
      return array.length;
    },
  },
  components: { LeadTable },
  computed: {
    ...mapGetters(["leads"]),
    filter_table_data() {
      return this.leads.filter((e) => {
        if (!this.status) return e;
        if (e.status) {
          const a = e.status.toLowerCase();
          const b = this.status.toLowerCase();
          if (a === b) return e;
        }
      });
    },
  },
  mounted() {},
};
</script>