<template>
    <div class="container">
        <!-- <h3>This is Teachers page.</h3> -->
        <HeadLine />
        <TeacherList />
    </div>
</template>

<script>
import HeadLine from './components/Headline.vue';
import TeacherList from './components/TeacherList.vue';
export default {
    components: { HeadLine, TeacherList }
}
</script>

<style scoped>
    .container {
        width: 95%;
        margin: auto;
    }
</style>