<template>
    <div>
  <el-tabs :tab-position="tabPosition" style="height: 200px;">
    <el-tab-pane label="Income">
      <Income />
    </el-tab-pane>
    <el-tab-pane label="Expense">
      <Expense />
    </el-tab-pane>
    <el-tab-pane label="Salary">
      <Salary />
    </el-tab-pane>
    <el-tab-pane label="Group Payments">
      <GroupPayments />
    </el-tab-pane>
    <el-tab-pane label="Course Payments">
      <CoursePayments />
    </el-tab-pane>
  </el-tabs>
    </div>
</template>

<script>
import Income from './Income.vue';
import Expense from './Expense.vue';
import Salary from './Salary.vue';
import GroupPayments from './GroupPayments.vue';
import CoursePayments from './CoursePayments.vue';
export default {
    name: "FinanceTabs",
    data() {
        return {
            tabPosition: "top"
        };
    },
    components: { Income, Expense, Salary, GroupPayments, CoursePayments }
}
</script>