<template>
  <div class="app">
    <router-view></router-view>

    <!-- <div id="app">
    <div id="nav">
      <MainHeader />
    </div>
    <div class="sideBar-views">
      <Sidebar />
      <div class="views">
       <component :is="layout">
          <router-view :layout.sync="layout" />
       </component>
      </div>
    </div>
  </div> -->
  </div>
</template>

<style>
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  text-align: center;
  color: #2c3e50;
}

#nav {
  min-height: 80px;
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
  margin-top: 20px;
}

#nav a {
  font-weight: bold;
  color: #2c3e50;
}

#nav a.router-link-exact-active {
  color: #42b983;
}
/* 
.page {
  cursor: pointer;
  padding-top: 18px;
  min-height: 100px;
  border-bottom: 1px solid rgb(192, 192, 192);
}

.page img {
  height: 30px;
  margin-bottom: 5px;
} */

.sideBar-views {
  height: 88vh;
  display: flex;
  justify-content: flex-start;
}

/* .sidebar {
  height: 100vh;
  min-width: 100px;
  box-shadow: rgba(0, 0, 0, 0.15) 2.4px 2.4px 3.2px;
  overflow: hidden;
  overflow-y: auto;
  border-radius: 12px;
} */

.views {
  margin: 15px;
  /* background: wheat; */
  width: 100%;
  overflow: hidden;
  overflow-y: scroll;
}

i {
  font-size: 25px;
}

.page p {
  text-decoration: none;
  padding-top: 5px;
  font-family: sans-serif;
  font-size: 14px;
}
</style>

<script>
// import MainHeader from '@/components/MainHeader'
// import Footer from './components/Footer.vue'
// import Sidebar from './components/Sidebar.vue'
import index from "@/layouts/index.vue";

export default {
  data() {
    return {
      layout: "div",
    };
  },
  components: {
    // MainHeader,
    // Footer,
    // Sidebar
  },

  created() {
    this.$emit("update:layout", index);
  },
};
</script>
