<template>
  <div class="login">
    <div class="grid">
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div class="item"><h1>Demo School</h1></div>
      <div></div>
      <div></div>
      <div class="span-row-2 item">
        <Form />
      </div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
    </div>
  </div>
</template>

<script>
import Form from "./components/Form.vue";
export default {
  name: "Login",
  components: { Form },
};
</script>

<style scoped>
* {
  box-sizing: border-box;
  font-family: sans-serif;
}

.login {
  height: 100vh;
  background: wheat;
}
.grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 10px;
  grid-template-rows: repeat(5, 120px);
}
.span-row-2 {
  grid-row: span 2 / auto;
}

.item {
  /* padding: 5px; */
  border-radius: 12px;
  background: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
}
</style>