<template>
  <div>
    <div class="student-panel">
      <el-input
        class="student-input"
        placeholder="Please input"
        v-model="input"
      ></el-input>
      <div class="actions">
        <el-button type="success" @click="drawer = true">Add +</el-button>
        <el-button type="danger">Delete</el-button>
        <el-button type="primary">SMS</el-button>
        <el-button type="warning">Edit</el-button>
      </div>

      <!-- Modal to for Adding new Lead  -->
      <el-drawer
        title="Add New Student"
        :visible.sync="drawer"
        :with-header="false"
      >
        <!-- Form to Add Student  -->
        <el-form :model="student" class="addLeadForm">
          <h2>Add New Student</h2>

          <el-form-item>
            <el-input
              v-model="student.name"
              placeholder="Enter Name ...."
            ></el-input>
          </el-form-item>

          <el-form-item>
            <el-input
              v-model="student.number"
              placeholder="996246382"
            ></el-input>
          </el-form-item>

          <el-form-item v-if="emailAddress">
            <el-input
              v-model="student.email"
              placeholder="Username@gmail.com"
            ></el-input>
          </el-form-item>

          <el-form-item v-if="birthday">
            <el-input
              v-model="student.birthday"
              placeholder="Birthday"
            ></el-input>
          </el-form-item>

          <el-form-item v-if="address">
            <el-input
              v-model="student.address"
              placeholder="King Street 22"
            ></el-input>
          </el-form-item>

          <el-form-item>
            <!-- <el-input v-model="student.gender" placeholder="Male"></el-input> -->
            <el-radio v-model="student.gender" label="female">Female</el-radio>
            <el-radio v-model="student.gender" label="male">Male</el-radio>
          </el-form-item>

          <el-form-item v-if="comment">
            <el-input
              v-model="student.comment"
              placeholder="Comment here..."
            ></el-input>
          </el-form-item>

          <el-form-item class="form-btns">
            <el-button type="primary" @click="submitForm('ruleForm')"
              >Create</el-button
            >
            <el-button @click="resetForm('ruleForm')">Reset</el-button>
          </el-form-item>

          <el-form-item>
            <el-row class="container">
              <i class="el-icon-date" @click="birthday = !birthday"></i>
              <i
                class="el-icon-message"
                @click="emailAddress = !emailAddress"
              ></i>
              <i class="el-icon-s-home" @click="address = !address"></i>
              <i class="el-icon-s-promotion"></i>
              <i class="el-icon-s-comment" @click="comment = !comment"></i>
            </el-row>
          </el-form-item>
        </el-form>
      </el-drawer>
    </div>
  </div>
</template>

<script>
import { mapActions } from "vuex";

export default {
  name: "FilterPanel",
  data() {
    return {
      birthday: false,
      address: false,
      emailAddress: false,
      comment: false,
      input: "",
      drawer: false,
      labelPosition: "right",
      student: {
        name: "",
        gender: "",
        birthday: "",
        number: "",
        email: "",
        comment: "",
        address: "",
      },
    };
  },
  methods: {
    ...mapActions(["createStudent"]),
    submitForm() {
      const newStudent = {
        id: Math.floor(Math.random() * 100000),
        picture: "No Photos",
        name: this.student.name,
        number: this.student.number,
        birthday: this.student.birthday,
        address: this.student.address,
        email: this.student.email,
        comment: this.student.comment,
      };

      console.log(newStudent);
      this.createStudent(newStudent);
    },
  },
};
</script>

<style scoped>
* {
  font-family: sans-serif;
}
.student-input {
  width: 60%;
}
.student-panel {
  width: 99%;
  margin: auto;
  margin-top: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: rgb(234, 241, 255);
  padding: 22px;
  border-radius: 9px;
}

.actions {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: 50px;
}

.addLeadForm {
  /* background: wheat; */
  min-height: 100vh;
  width: 80%;
  margin: auto;
}

.addLeadForm h2 {
  text-align: center;
  padding: 15px;
}

.container {
  /* display: grid;
  grid-template-columns: 50px 50px 50px 50px 50px 50px;
  grid-template-rows: 50px 50px;
  grid-auto-columns: 1fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas:
    ". . . . ."
    ". . . . .";
  align-items: start; */
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.container i {
  padding: 6px;
  margin: 4px;
  background: #fff;
  border-radius: 20px;
  cursor: pointer;
}

.container i:hover {
  color: coral;
}
</style>