<template>
  <div>
    <el-table :data="this.students" style="width: 100%">
      <el-table-column type="selection" width="55"> </el-table-column>
      <el-table-column label="Name" width="180">
        <template slot-scope="scope">
          <!-- <i class="el-icon-time"></i> -->
          <span style="margin-left: 10px">{{ scope.row.name }}</span>
          <p class="birthday">{{ scope.row.birthday }}</p>
        </template>
      </el-table-column>
      <el-table-column label="Phone Number" prop="number"> </el-table-column>
      <el-table-column label="Email" prop="email"> </el-table-column>
      <el-table-column label="Balance $:" prop="balance" width="100">
      </el-table-column>
      <el-table-column class="groups" label="Groups" width="220" prop="groups">
      </el-table-column>
      <el-table-column label="Operations">
        <template slot-scope="scope">
          <el-button size="mini" @click="handleEdit(scope.$index, scope.row)"
            >Edit</el-button
          >
          <el-button
            size="mini"
            type="danger"
            @click="handleDelete(scope.$index, scope.row)"
            >Delete</el-button
          >
        </template>
      </el-table-column>
    </el-table>
  </div>
</template>

<script>
import { mapActions, mapGetters } from "vuex";

export default {
  name: "StudentList",
  data() {
    return {
      input: "",
    };
  },
  methods: {
    ...mapActions(["fetchStudents"]),

    handleEdit(index, row) {
      console.log(index, row);
    },
    handleDelete(index, row) {
      console.log(index, row);
    },
  },

  computed: {
    ...mapGetters(["students"]),
  },

  async created() {
    this.fetchStudents();
  },
};
</script>

<style scoped>
.birthday {
  color: grey;
  font-size: 12px;
}
</style>