<template>
  <div>
    <div id="nav">
      <MainHeader />
    </div>
    <div class="sideBar-views">
      <Sidebar />
      <div class="views">
        <component :is="layout">
          <router-view :layout.sync="layout" />
        </component>
      </div>
    </div>
  </div>
</template>

<script>
import MainHeader from "@/components/MainHeader";
import Footer from "@/components/Footer.vue";
import Sidebar from "@/components/Sidebar.vue";

export default {
  data() {
    return {
      layout: "div",
    };
  },
  components: {
    MainHeader,
    Footer,
    Sidebar,
  },
};
</script>
