<template>
    <div>
        <FinanceTabs />
    </div>
</template>

<script>
import FinanceTabs from './components/FinanceTabs.vue';
export default {
    name: "Finance",
    components: { FinanceTabs }
}
</script>

<style scoped>

</style>